<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000,
    once: false,
    offset: 120,
    easing: 'ease-out-cubic'
  });
</script>
</body>
</html>
